body, ul, li, h1, h2, h3, a{
    margin: 0;
    padding: 0;
    font-family: arial;
}

.normal-link{
    text-decoration: none;
    color: #000;
}

/* header{
    background-color: #ffffff;
    padding: 20px;
    position: fixed;
    width: 100%;
    z-index: 1;
    border: 1px solid black;  
    border-radius: 50px;
} */

header{
    color: #000000;
    background-color: #f4f4f4;
    position: fixed;
    width: 63%;
    border: 1px solid black;
    margin: 10px;
    padding: 1px 50px;
    border-radius: 50px;
    z-index: 1;
}

nav{
    background-color: #f4f4f4;
    padding: 20px;
}
.main-nav ul{
    white-space: nowrap;
    /* max-width: 100%;
    margin: 0 auto; */
}
.main-nav li{
    width: 25%;
    display: inline-block;
}
.main-nav li a{
    text-decoration: none;
    color: #4b4b4b;
}


main{
    max-width: 100%;
    width: 1200px;
    margin: 80% auto;
}

.listings img{
    object-fit: cover;
    width: 365px;
    height: 365px;
    border-radius: 5%;
}

.name{
    font-weight: bold;
}

.host{
    color:#808080;
}

.price{
    font-weight: bold;
}

.price span{
    font-weight: normal;
}

.past-experiences img{
    object-fit: cover;
    width: 365px;
    height: 365px;
    border-radius: 5%;
}

.divider2{
    color:#808080
}

.airbnb span{
    text-decoration: underline;
}
.inspiration{
    background-color: #e9e6e6;
    max-width: 100%;
    width: 1200px;
    margin: 80% auto;
}
.links{
    background-color: #e9e6e6;
}
.places ul {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal-width columns */
    gap: 20px; /* Space between the columns and rows */
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.places ul span{
    font-weight: bold
}
.currency ul{
    /* font-weight: bold */
    width: 150%;
    display: inline-block;
}
