/* body, ul, li, h1, h2, h3, a{ */
body {
    /* margin: 0; */
    /* padding: 0; */
    font-family: arial;
}

.normal-link{
    text-decoration: none;
    color: #000;
}

/* header{
    background-color: #ffffff;
    padding: 20px;
    position: fixed;
    width: 100%;
    z-index: 1;
    border: 1px solid black;  
    border-radius: 50px;
} */

.main-container {
    display: flex;
    flex-direction: column;
}

.sticky-header {
    position: fixed;
    top: 0;
    background-color: white;
}

header{
    color: #000000;
    background-color: #f4f4f4;
    /* position: fixed; */
    /* width: 63%; */
    border: 1px solid black;
    margin: 10px;
    padding: 1px 75px 1px 25px;
    border-radius: 50px;
    z-index: 1;
}

nav {
    background-color: #f4f4f4;
    padding: 20px;
}

.searchbar {
    display: flex;
    flex-direction: row;
}

.searchbar img {
    margin: 25px 5px;
}

.searchbar img {
    width: 25px;
    height: 25px;
}

.nested-searchbar {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.nested-searchbar p {
    margin: 1px;
    font-size: 0.85em;
}

.icons img {
    width: 25px;
}

.main-nav ul{
    white-space: nowrap;
    /* max-width: 100%;
    margin: 0 auto; */
}
.main-nav li{
    width: 25%;
    display: inline-block;
}
.main-nav li a{
    text-decoration: none;
    color: #4b4b4b;
}


main{
    /* max-width: 100%; */
    /* width: 1200px; */
    /* margin: 80% auto 0; */
    margin: 60% auto 0;
}

.listings img{
    object-fit: cover;
    width: 365px;
    height: 365px;
    border-radius: 5%;
}

.name{
    font-weight: bold;
}

.host{
    color:#808080;
}

.price{
    font-weight: bold;
}

.price span{
    font-weight: normal;
}

.past-experiences img{
    object-fit: cover;
    width: 365px;
    height: 365px;
    border-radius: 5%;
}

.divider2{
    color:#808080
}

.airbnb span{
    text-decoration: underline;
}
.inspiration{
    background-color: #e9e6e6;
    /* max-width: 100%; */
    /* width: 1200px; */
    /* margin: 80% auto; */
}

.links{
    background-color: #e9e6e6;
}

.inspiration-menu ul {
    white-space: nowrap;
}

.inspiration-menu li {
    display: inline-block;
}

.links a {
    text-decoration: none;
    color: #4b4b4b;
}

.places ul {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal-width columns */
    gap: 20px; /* Space between the columns and rows */
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.places ul span{
    font-weight: bold
}
.currency ul{
    /* font-weight: bold */
    width: 100%;
    display: inline-block;
}
